<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>Egg 使用</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/egg/start">启动部署</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/egg/config">配置文件</a></li>
            </ul>
        </dd>
    </dl>
</aside>