<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>HTML + Webpack构建</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/html/webpack">Webpack</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/html/dev">开发指南</a></li>
                <li><a href="/easywebpack/html/nunjucks">nunjucks</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/easywebpack-html">解决方案</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/easywebpack-multiple-html-boilerplate">项目骨架</a></li>
            </ul>
        </dd>
    </dl>
</aside>