<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="react">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>React + Webpack构建</dt>
        <dd>
            <ul>
                <li><a href="https://github.com/hubcarl/easywebpack-react">解决方案实现</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/client">纯前端项目cli构建</a></li>
            </ul>
        </dd>
        <dt>Egg+React解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/react/rule">开发指南</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/dev">构建流程</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-react-webpack-boilerplate">项目骨架</a></li>
            </ul>
        </dd>
        <dt>Egg+React插件</dt>
        <dd>
            <ul>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack">egg-webpack</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack-react">egg-webpack-react</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-view-react">egg-view-react</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-view-react-ssr">egg-view-react-ssr</a></li>
            </ul>
        </dd>
    </dl>
</aside>