<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>Vue + Webpack 构建</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/client">纯前端构建</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue-cli">服务端构建</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue-project">自定义构建</a></li>
                <li><a target="_blank" href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue">解决方案</a></li>
            </ul>
        </dd>
        <dt>Egg + Vue 解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/rule">快速开始</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/zero">从零开始</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/async">异步加载</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/dev">构建流程</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-vue-webpack-boilerplate">项目骨架</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/version">升级指南</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/typescript">TypeScript</a></li>
            </ul>
        </dd>
        <dt>Egg + Vue 插件</dt>
        <dd>
            <ul>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack">egg-webpack</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack-vue">egg-webpack-vue</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/easywebpack-cli">easywebpack-cli</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/easywebpack-vue">easywebpack-vue</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-view-vue-ssr">egg-view-vue-ssr</a></li>
            </ul>
        </dd>
    </dl>
</aside>