<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>Vue构建插件</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue">easywebpack-vue实现</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue-project">easywebpack-vue实战</a></li>
            </ul>
        </dd>
        <dt>Egg+Vue解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/dev">开发构建流程</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/publish">发布构建流程</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-vue-webpack-boilerplate">项目实战</a></li>
            </ul>
        </dd>
        <dt>Egg+Vue插件</dt>
        <dd>
            <ul>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack-vue">egg-webpack-vue</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-webpack">egg-webpack</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-view-vue">egg-view-vue</a></li>
                <li><a target="_blank" href="https://github.com/hubcarl/egg-view-vue-ssr">egg-view-vue-ssr</a></li>
            </ul>
        </dd>
    </dl>
</aside>