<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>新手指南</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack">背景介绍</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/design">设计实现</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/feature">特性支持</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/install">安装使用</a></li>
            </ul>
        </dd>
        <dt>配置与API</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/config">配置参数</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/loader">Loader</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/plugin">Plugin</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/api">API</a></li>
            </ul>
        </dd>
        <dt>解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue">easywebpack-vue</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/weex/easywebpack-weex">easywebpack-weex</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/easywebpack-react">easywebpack-react</a></li>
            </ul>
        </dd>
        <dt>编译工具</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/cli">easywebpack-cli</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/tool">webpack-tool</a></li>
            </ul>
        </dd>
    </dl>
</aside>