<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>新手指南</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack">整体介绍</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/start">快速开始</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/problem">常见问题</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/version">版本历史</a></li>
            </ul>
        </dd>
        <dt>配置构建</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/js">配置文件</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/base">基础配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/feature">特性配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/build">打包构建</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/entry">entry 配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/loader">loaders 配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/plugin">plugins 配置</a></li>
            </ul>
        </dd>
        <dt>开发技巧</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/normal">常用配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/self">原生配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/debug">开发调试</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/proxy">域名代理</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/env">环境变量</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/resource">资源依赖</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/commonsChunk">公共提取</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/dll">DLL 构建</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/cdn">CDN 构建</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/pwa">PWA 支持</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/typescript">TypeScript</a></li>
            </ul>
        </dd>
        <dt>解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue">easywebpack-vue</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/weex/easywebpack-weex">easywebpack-weex</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/easywebpack-react">easywebpack-react</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/easywebpack-html">easywebpack-html</a></li>
            </ul>
        </dd>
        <dt>自定义解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/install">接口能力</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/params">配置参数</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/params">命令行支持</a></li>
            </ul>
        </dd>
        <dt>编译工具</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/cli">easywebpack-cli</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/tool">webpack-tool</a></li>
            </ul>
        </dd>

        <dt style="display: none" id="menu-api-container">API</dt>
        <dd>
            <ul id="easywebpack-api"></ul>
            <script>
                function createLinkElement(name) {
                    var a = document.createElement("a");
                    a.href = '#';
                    a.name = name;
                    a.innerHTML = name;
                    a.style.visibility = "hidden";
                    return a;
                }
                if (location.pathname.indexOf('easywebpack/webpack/api') > -1) {
                    document.getElementById('menu-api-container').style.display = '';
                    var apiContainer = document.getElementById('markdown-body');
                    var apiShowContainer = document.getElementById('easywebpack-api');
                    if (apiContainer && apiShowContainer) {
                        var apiH3List = apiContainer.getElementsByTagName('h3');
                        var apiLiList = [];
                        for (var i = 0, len = apiH3List.length; i < len; i++) {
                            var arr = apiH3List[i].innerText.split('(');
                            if (arr.length) {
                                apiLiList.push('<li><a href="#' + arr[0] + '">' + arr[0] + '</a></li>');
                                apiH3List[i > 0 ? i - 1 : i].appendChild(createLinkElement(arr[0]));
                            }
                        }
                        apiShowContainer.innerHTML = apiLiList.join('');
                    }
                }
            </script>
        </dd>
    </dl>
</aside>