<aside id="mobileAside" class="toc">
    <div class="mobile-menu">
        <ul>
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/" alt="Vue">Vue</a></li>
            <li><a href="/" alt="React">React</a></li>
            <li><a href="/" alt="Weex">Weex</a></li>
        </ul>
    </div>
    <dl>
        <dt>新手指南</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack">背景介绍</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/design">设计实现</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/feature">特性支持</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/install">安装使用</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/cli">脚手架</a></li>
            </ul>
        </dd>
        <dt>配置</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/config">配置Config</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/loader">内置Loader</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/plugin">内置Plugin</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/customize">自定义配置</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/api">内置方法API</a></li>
            </ul>
        </dd>
        <dt style="display: none" id="menu-api-container">API</dt>
        <dd>
            <ul id="easywebpack-api"></ul>
            <script>
                function createLinkElement(name) {
                    var a = document.createElement("a");
                    a.href = '#';
                    a.name = name;
                    a.innerHTML = name;
                    a.style.visibility = "hidden";
                    return a;
                }
                if (location.pathname.indexOf('easywebpack/webpack/api') > -1) {
                    document.getElementById('menu-api-container').style.display = '';
                    var apiContainer = document.getElementById('markdown-body');
                    var apiShowContainer = document.getElementById('easywebpack-api');
                    if (apiContainer && apiShowContainer) {
                        var apiH3List = apiContainer.getElementsByTagName('h3');
                        var apiLiList = [];
                        for (var i = 0, len = apiH3List.length; i < len; i++) {
                            var arr = apiH3List[i].innerText.split('(');
                            if (arr.length) {
                                apiLiList.push('<li><a href="#' + arr[0] + '">' + arr[0] + '</a></li>');
                                apiH3List[i > 0 ? i - 1 : i].appendChild(createLinkElement(arr[0]));
                            }
                        }
                        apiShowContainer.innerHTML = apiLiList.join('');
                    }
                }
            </script>
        </dd>
        <dt>解决方案</dt>
        <dd>
            <ul>
                <li><a href="{{ site.baseurl }}/easywebpack/vue/easywebpack-vue">easywebpack-vue</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/weex/easywebpack-weex">easywebpack-weex</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/react/easywebpack-react">easywebpack-react</a></li>
            </ul>
        </dd>
        <dt>编译工具</dt>
        <dd>
            <ul>
                <li><a target="_blank" href="https://github.com/hubcarl/easywebpack-cli">easywebpack-cli</a></li>
                <li><a href="{{ site.baseurl }}/easywebpack/webpack/tool">webpack-tool</a></li>
            </ul>
        </dd>
    </dl>
</aside>