<header>
    <a href="" class="nav-logo leftpadding">EasyWebpack</a>
    <ul id="main-nav" class="nav-item">
        <li><a href="{{ site.baseurl }}/easywebpack" alt="指南">Home</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/webpack" alt="API">EasyWebpack</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/vue" alt="API">Vue</a></li>
        <li style="display: none"><a href="{{ site.baseurl }}/easywebpack/react" alt="教程">React</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/weex" alt="教程">Weex</a></li>
    </ul>
    <a id="mobileTrigger" href="#" class="mobile-trigger">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </a>
</header>