<header>
    <a href="" class="nav-logo leftpadding">easywebpack</a>
    <ul id="main-nav" class="nav-item">
        <li><a href="{{ site.baseurl }}/easywebpack" alt="指南">Home</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/webpack" alt="Webpack">Webpack</a></li>
        <!-- <li><a href="{{ site.baseurl }}/easywebpack/egg" alt="Webpack">Egg</a></li> -->
        <li><a href="{{ site.baseurl }}/easywebpack/vue/client" alt="Vue">Vue</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/react/client" alt="教程">React</a></li>
        <!--<li><a href="{{ site.baseurl }}/easywebpack/angular" alt="教程">Angular</a></li>-->
        <li><a href="{{ site.baseurl }}/easywebpack/weex/easywebpack-weex" alt="教程">Weex</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/html/dev" alt="Html">Html</a></li>
        <li><a href="{{ site.baseurl }}/easywebpack/webpack/problem" alt="help">QA</a></li>
    </ul>
    <a id="mobileTrigger" href="#" class="mobile-trigger">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </a>
</header>